<!DOCTYPE html>

<!-- based on: http://www.matlus.com/html5-file-upload-with-progress/ -->
<html ng-app="app">


<head>
    <meta charset="UTF-8" />
    <title>jaji</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    
    
    <link rel="stylesheet" type="text/css" href="upload.css">
    
    <script data-require="angular.js@1.2.18" data-semver="1.2.18" src="http://code.angularjs.org/1.2.18/angular.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="upload.js"></script>    
</head>



<body ng-controller="FileUploadCtrl">

    <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
    
    <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
    
    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        
        <input type="button" ng-click="uploadFile()" value="Upload" />
        <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
        </div>
    </div>
    
</body>
</html>




<!--
<!DOCTYPE html>
<html lang="en">

<head>
  <title>sex</title>
</head>
 
 
 <body>
 <form action="/upload2" enctype="multipart/form-data" method="post">
            <input type="text" name="title">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
</body>


</html>

-->